---
import Layout from "../layouts/Layout.astro";

const crumbs = [
	{
		name: "home",
		link: "/",
		disabled: false,
	},
];
---

<Layout title="home" crumbs={crumbs}>
	<h1 class="title">Ronnie Nissan</h1>

	<p>
		Hello! and welcome to my website/portfolio. A place where I share my
		thoughts, projects and some more.
	</p>
</Layout>

<style>
	p {
		font-size: var(--fs-sm);
	}
</style>
