---
import Layout from "../layouts/Layout.astro";

const crumbs = [
	{
		name: "home",
		link: "/",
		disabled: false,
	},
];
---

<Layout title="home" crumbs={crumbs}>
	<h1 class="title">Who am I</h1>

	<h2 class="subtitle">about me</h2>

	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, vel.
		Vitae, minima rem repudiandae nisi enim laboriosam, quibusdam nemo
		itaque eligendi explicabo quod cupiditate atque. Lorem ipsum dolor sit
		amet consectetur adipisicing elit. Quaerat totam, error in qui iusto
		deleniti reiciendis perferendis cumque quod tempora dolorum illo quas
		quidem provident? Quia provident saepe doloremque vero possimus ut?
		Dolore aut veritatis iste eveniet cupiditate harum hic!
	</p>
	<p>
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa incidunt
		autem corporis ad odio debitis, pariatur ut qui veniam deleniti tempore,
		neque vero repellat a ratione recusandae voluptas. Magnam facilis
		incidunt omnis asperiores praesentium voluptatem dolor. Sunt ea, eius
		repudiandae, possimus assumenda iste vel voluptatibus ducimus
		dignissimos temporibus aut natus suscipit. Pariatur iusto velit
		necessitatibus.
	</p>
	<p>
		Nisi rem eligendi facilis molestiae rerum aperiam impedit laborum vitae
		eum cupiditate vero, omnis minima perspiciatis quo eius assumenda.
		Architecto tempora fugiat consectetur minima eligendi. Quis, consequatur
		iusto rem quasi sapiente totam mollitia aliquam aut omnis, ratione
		reiciendis vitae, consectetur corrupti alias possimus atque! Dolor
		accusamus sit blanditiis corrupti deserunt error, nulla rerum sunt
		incidunt.
	</p>
	<p>
		Odio accusantium ex, a nostrum quod minima assumenda rerum magni ut
		magnam incidunt porro eligendi facere delectus aliquam quidem molestiae
		expedita inventore debitis, minus architecto? Reiciendis eveniet,
		libero, fugit optio illum quae at mollitia ea velit cumque minima ad ut
		molestias perspiciatis voluptas fuga? Deserunt, provident sapiente nemo
		doloribus animi porro numquam similique perferendis expedita!
	</p>
	<p>
		Atque, tenetur tempore a at eaque officiis! Ipsum ex, consectetur quas
		placeat ea perspiciatis nulla distinctio voluptate ipsa ratione laborum
		porro ut possimus? Illum perferendis, adipisci eum itaque nihil ipsa
		facere? Id quidem tenetur placeat in molestias consequuntur aliquid quia
		nobis blanditiis maxime sint explicabo, a expedita deleniti tempora
		facilis, non iusto, fugiat voluptatibus. Minus.
	</p>
	<p>
		Sequi magnam vitae fugiat dolores porro eligendi molestiae, ex fuga quos
		velit nam molestias illum cupiditate quaerat perferendis, praesentium
		alias natus impedit! Suscipit libero iusto harum amet, dicta aperiam.
		Dicta recusandae earum ut blanditiis dolor facilis expedita molestiae,
		porro minima autem sed delectus officiis, deleniti necessitatibus
		molestias excepturi saepe vel. Pariatur aut expedita velit quibusdam?
	</p>
	<p>
		Nobis expedita unde sit beatae aliquam soluta, et inventore laudantium
		voluptate. Soluta illo, laborum beatae quisquam vel vero accusantium,
		rerum maxime sed cum atque placeat cupiditate est quasi aut praesentium
		voluptatibus debitis sapiente aliquam. Aspernatur velit ducimus
		adipisci. Reprehenderit officiis repellat repudiandae aut itaque
		reiciendis. Mollitia corrupti sit molestias. Obcaecati, deserunt. Dolore
		incidunt quia commodi!
	</p>
	<p>
		Similique ratione officia debitis commodi veritatis nihil distinctio
		tempore fugiat tempora eveniet impedit voluptatem temporibus odit qui
		saepe laboriosam quaerat officiis reprehenderit sequi error corrupti
		vel, quos voluptatibus! Illum reprehenderit aliquam placeat suscipit
		necessitatibus aliquid labore enim odio rem commodi tempora obcaecati
		ipsam officiis id ipsa maiores delectus ut, at vero ipsum consequatur
		deleniti autem!
	</p>
	<p>
		Aliquam inventore hic est dolorum neque rem fugiat! At possimus
		consectetur nisi, numquam eaque facilis aut autem omnis rerum! Quo saepe
		sapiente sed non quam magnam, exercitationem qui doloribus soluta aut
		nisi pariatur, similique hic iste officia repudiandae, illum ratione
		voluptatum eos. Numquam odio deserunt reprehenderit porro maxime,
		reiciendis ea dolor omnis nulla ipsam est.
	</p>
	<p>
		Nostrum voluptas non enim dolorum vitae reiciendis delectus sit
		voluptatem, magni veniam nulla laboriosam. Nemo velit necessitatibus
		debitis omnis aliquam ducimus esse, at recusandae nisi, ea impedit ex
		vel. Perspiciatis dolore iure autem minus expedita velit praesentium id,
		quia provident. Voluptatem quibusdam obcaecati provident rem ipsum
		aliquam ab error aliquid quam fugiat veniam, voluptas possimus?
	</p>
	<p>
		Doloremque suscipit non, nihil nostrum corrupti aliquid recusandae ipsum
		maiores nemo voluptate illo aperiam pariatur sequi labore
		necessitatibus, quod iste dolores. Aliquam sint cumque nisi, ipsum in
		dicta doloribus! Totam officiis assumenda exercitationem nam sapiente
		minus, sequi aperiam odit sit suscipit officia eius explicabo asperiores
		facilis vel fuga voluptatum quisquam incidunt beatae quis culpa.
		Voluptatibus!
	</p>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
		molestiae, quo sapiente impedit dolorem veritatis reiciendis a ipsum
		laudantium ullam neque dolore voluptatum commodi? Ex vitae alias facilis
		temporibus veritatis architecto ducimus mollitia iusto dolor quibusdam
		optio expedita, dolores enim totam est doloremque, quasi necessitatibus
		maxime itaque laboriosam quidem. Optio.
	</p>
	<p>
		Nesciunt optio dicta officia! Molestias nulla quibusdam eum aliquam
		ratione corrupti repellendus ad eligendi, vitae esse nisi! Vero deleniti
		deserunt aliquid voluptatum ab doloremque necessitatibus numquam
		consequatur a perspiciatis earum aperiam fuga commodi, id quibusdam,
		dolore vitae et cupiditate? Voluptates facere quae exercitationem
		voluptatibus iste accusantium maiores! Excepturi, dignissimos nesciunt?
	</p>
	<p>
		Id voluptatibus exercitationem sequi vel! Unde omnis aliquam iste vitae,
		sunt officiis quibusdam animi maxime aut porro corrupti suscipit
		deleniti cumque doloribus quasi laboriosam assumenda, optio rerum dolore
		commodi. Inventore, praesentium repellendus minus voluptatibus facilis
		iste, harum veritatis, cupiditate amet id minima et hic nisi. Ratione
		autem quis ad officiis!
	</p>
	<p>
		Aut odit veritatis cumque laboriosam illo fugiat vel quibusdam atque.
		Accusamus neque inventore fugit consequuntur, delectus ipsum sequi
		voluptatibus eum dolor dolore, sit corrupti praesentium perferendis
		temporibus maxime sunt enim! Dolores, eius. Accusamus officia ipsum
		corrupti, perspiciatis blanditiis vitae aut beatae, vero natus at omnis
		quia eaque, voluptatum explicabo. Voluptate.
	</p>
	<p>
		Maxime non hic beatae recusandae distinctio, totam alias praesentium
		blanditiis, doloremque vero quaerat ratione asperiores aliquid quos
		magnam tempora aliquam perferendis qui est at assumenda? Quaerat quis
		libero consequuntur facilis id, ipsam ullam voluptas autem earum veniam
		cum quo explicabo, cumque reprehenderit esse tenetur atque error soluta
		tempora, repellat nemo?
	</p>
	<p>
		Quia, magnam accusantium suscipit ducimus voluptatibus omnis illum
		accusamus modi ab perspiciatis fugiat eius et iure magni fuga ullam unde
		odit non quos repellat distinctio? Aperiam sapiente architecto
		perspiciatis consectetur aliquam assumenda ad, odio optio! Placeat, id
		necessitatibus esse, ipsa cupiditate ullam blanditiis quam sit,
		voluptatum voluptas laboriosam repellendus eligendi.
	</p>
	<p>
		Quisquam labore animi veniam magni. Dolorum delectus laboriosam magni
		eveniet dolores non eligendi nulla maxime quidem tenetur nisi, voluptate
		ex sint voluptates reprehenderit quaerat aut cumque quibusdam. Vel, id
		incidunt in non quisquam consectetur molestiae. Illo eaque deleniti
		exercitationem? Accusamus, quam. Sequi alias asperiores, ratione labore
		quidem aliquam ad consectetur.
	</p>
	<p>
		Incidunt alias laborum ipsa dicta odio, laudantium vitae enim ipsam
		nemo, quisquam neque at delectus? Sapiente harum obcaecati veritatis
		repellendus omnis quam, at fuga nostrum sunt aspernatur, exercitationem
		sit tenetur incidunt quas doloribus aliquam iste facere eligendi
		repudiandae pariatur quia tempore? Debitis incidunt sunt accusamus
		perferendis maxime obcaecati id eveniet?
	</p>
	<p>
		Sit, quae harum obcaecati maiores quo sapiente. Ab cupiditate culpa quam
		id tempora natus vel possimus fugit sint quasi enim itaque voluptate,
		explicabo earum distinctio non ullam temporibus. Consequuntur doloribus
		deserunt debitis adipisci! Illum iure, aperiam quasi optio unde
		accusamus a. Voluptate reiciendis dolor vel hic obcaecati non dicta
		nemo.
	</p>
	<p>
		Repellendus, quae? Impedit similique quae nemo odio, qui corrupti. Harum
		sequi amet et ullam iusto repudiandae. Neque beatae provident sit
		ducimus ex, corrupti possimus eos modi laborum! Odio vero cupiditate,
		similique placeat unde dignissimos inventore, molestias maiores iure
		possimus recusandae aliquid modi in quod pariatur, ipsa sint repellendus
		voluptas nostrum!
	</p>
	<p>
		Assumenda, sed! Mollitia explicabo quibusdam facere omnis iure quia non
		beatae autem, eos iste eaque dolore, aliquam quaerat consectetur numquam
		voluptate quidem eius officia excepturi soluta nisi. Quis, nostrum
		consequatur ducimus quos accusamus officia pariatur, repudiandae eum,
		adipisci et alias culpa reprehenderit illo tempore? Quis, deserunt
		voluptas! Cum, quis libero.
	</p>
	<p>
		Eum, omnis nesciunt ipsam vero magnam adipisci itaque a blanditiis sint,
		natus ratione. Est omnis facilis placeat culpa iusto cumque laudantium
		voluptatibus, voluptas dolorem ipsa rem illum vero repudiandae. Nulla
		excepturi possimus corporis, maxime reprehenderit eveniet tenetur
		exercitationem earum nesciunt beatae rerum impedit quos quibusdam
		incidunt magnam et soluta animi.
	</p>
	<p>
		Repudiandae, illo. Nobis eligendi sit eius delectus officiis nemo
		tempore illum dolores qui, culpa unde maxime repellat dolore. Veniam
		dolorum ut sit voluptas, placeat impedit beatae, tempora reiciendis
		itaque quibusdam mollitia deserunt adipisci doloribus pariatur libero
		iste nihil praesentium ipsa ratione atque ad consectetur eos nam.
		Molestias sequi doloribus quasi.
	</p>
	<p>
		Corrupti, cupiditate excepturi incidunt tempora eius, cumque suscipit ab
		eos iste necessitatibus nobis porro placeat ex sit magni. Quam
		laboriosam, tempore, temporibus delectus nulla est fuga aperiam expedita
		libero voluptatibus dolor perferendis laudantium magnam vel aut quia
		recusandae eaque voluptas. Sapiente, recusandae dignissimos sint
		similique laboriosam molestias praesentium asperiores molestiae.
	</p>
	<p>
		Commodi ipsa est sint officiis excepturi sapiente provident maiores? Cum
		delectus eveniet officia ea ratione. Minima beatae dolore ab,
		reprehenderit ipsa, inventore voluptas ullam vitae quam cum consectetur
		eius quibusdam totam pariatur, dolorem non iure. Quidem unde, est minus
		velit, perferendis qui alias, nemo quaerat quae ab delectus aspernatur
		voluptates.
	</p>
	<p>
		Velit esse obcaecati ipsa earum, laborum reprehenderit optio numquam sed
		pariatur quae, qui quas doloribus assumenda nobis molestiae! Enim nam
		molestias quod, nobis dolorem libero ducimus? Cum odio eligendi
		consequatur! Libero omnis hic eum enim deserunt repellat voluptas.
		Ducimus reiciendis beatae in totam iste sequi laudantium, illum qui
		nulla minima!
	</p>
	<p>
		Placeat saepe magnam in rem, cum natus quidem iure aperiam ullam,
		dolorem dolor amet illum cupiditate. Deleniti recusandae natus vitae
		veritatis, mollitia porro voluptatem fugiat quod debitis ab, voluptate
		vero sit cupiditate. Doloribus at nisi porro, beatae pariatur cum ad
		nostrum reiciendis accusantium! Iure doloribus ut alias sequi adipisci
		deleniti!
	</p>
	<p>
		Aliquid, quidem pariatur? Ad, rerum fuga! Provident dignissimos omnis
		quos fuga quasi sunt tenetur tempore vitae laboriosam recusandae? Quas,
		quidem temporibus. Laboriosam distinctio cum, dolor cupiditate earum
		ratione delectus placeat ex voluptatum aut tempore tenetur accusamus
		libero blanditiis voluptas dolorum repellendus quisquam eius aspernatur
		necessitatibus error. Doloremque, deserunt. Minus, repudiandae!
	</p>
	<p>
		Debitis nam eveniet accusamus magnam, ipsam minus quisquam dicta
		dignissimos ut, cupiditate minima magni incidunt, autem suscipit sit
		commodi maiores ab repudiandae officia nostrum quas error! Nobis, et!
		Iure at quos, distinctio harum maxime tempore est quia, nemo vitae
		commodi veniam doloribus magni reprehenderit consequatur dolore
		doloremque aliquam facilis labore?
	</p>
	<p>
		Delectus beatae, excepturi consequatur eligendi tempora ullam magnam ab
		expedita ipsam vel doloremque atque harum aliquam quis ducimus,
		asperiores sunt dolore obcaecati, quibusdam minus. Provident, mollitia?
		Velit id, reiciendis laudantium consectetur officiis vel, aliquid
		tenetur voluptas praesentium aperiam sunt dignissimos esse a in non quae
		architecto neque eos sapiente ipsam!
	</p>
	<p>
		Quis, libero? Quas necessitatibus autem enim quibusdam numquam quae. Ad
		et praesentium necessitatibus at harum provident ut maxime minus
		corporis consequatur sint, totam ipsa veritatis! Hic animi consequatur
		beatae, ratione provident voluptatem praesentium est quidem vitae
		repellat impedit nobis quisquam nisi natus ipsa atque soluta possimus ad
		sed fugiat dolores?
	</p>
	<p>
		Voluptatibus commodi ullam consequatur dolorum et corrupti ipsum rerum,
		aspernatur ad aliquam laudantium atque reiciendis nobis dolores? Iure,
		veritatis sed quod ipsa placeat in, quasi totam est mollitia fuga vero
		delectus nihil minima deserunt a deleniti aliquid accusamus. Ad error
		nisi ut atque qui similique enim? Enim ex quod quia.
	</p>
	<p>
		Commodi vitae quod modi veniam repudiandae aliquam, harum magnam odit
		voluptates. Labore laborum, animi quaerat architecto obcaecati minus non
		at perferendis voluptatibus, reiciendis illo voluptatum maiores aliquid
		itaque fugit voluptates ullam tempora totam nisi. Ipsam corrupti tempore
		sed laudantium hic eveniet maxime. Est velit ea, ipsa fuga praesentium
		quos enim.
	</p>
	<p>
		Nisi veniam dolore hic aut dolorum odit voluptates, animi a assumenda
		minus alias unde sed earum consectetur architecto labore recusandae,
		repudiandae fugit voluptas. Deserunt enim dolor error ratione eveniet
		vel dolores et, consectetur amet praesentium rerum, facilis harum,
		voluptate totam dolore ut blanditiis voluptatibus facere quia reiciendis
		sed similique tempore?
	</p>
	<p>
		Tempore voluptatem ratione rem cum dolorum beatae voluptas eveniet nisi
		cumque voluptate! Sapiente corporis amet, aspernatur dolores fugiat
		ipsum voluptate nobis neque vitae unde nihil blanditiis ratione velit
		repudiandae! Quam quod eos ab, non officia ex incidunt perspiciatis
		rerum deserunt, eligendi fuga culpa dicta inventore. Accusamus in illo
		enim doloribus.
	</p>
</Layout>

<style>
	p {
		font-size: var(--fs-sm);
		padding-block-end: 0.5rem;
	}
</style>
