---
import type { BookEntry } from "../types";

interface Props {
  entry: BookEntry;
}

const { entry } = Astro.props;
const { series, number, title, author, tags } = entry;
---

<li class="bookEntry">
  <p>
    <strong>{title}</strong>
    {series ? series : ""}
    {number ? number : ""} -- {author}
  </p>
  <ul>
    {tags.map((tag) => <li>{tag.slice(1)}</li>)}
  </ul>
</li>

<style>
  .bookEntry {
    padding-block-start: 0.5rem;
  }

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    place-content: start;
    place-items: start;
  }

  ul > li {
    color: var(--tertiary);
    text-transform: capitalize;
    font-size: var(--fs-xs);
  }

  ul > li:not(:last-child):after {
    content: ",";
    padding-inline-end: 0.5ch;
  }
</style>
