---

---

<div class="media-scroller snaps-inline">
  <slot />
</div>

<style>
  .media-scroller {
    --_spacer: 1rem;
    display: grid;
    grid-auto-flow: column;
    gap: var(--_spacer);
    justify-content: start;
    padding-inline: var(--_spacer);
    padding-block: var(--_spacer);
    overflow-x: auto;
    overflow-y: hidden;
    overscroll-behavior-inline: contain;
  }

  .snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--_spacer);
  }
  .snaps-inline > * {
    scroll-snap-align: start;
  }
</style>
